.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(90deg, var(--dark-green), var(--pink));

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.editIcon {
  margin-right: 10px;
}
