.pageFooter {
  align-items: center;
  background: linear-gradient(90deg, var(--lightPurple), var(--pink));
  color: var(--white);
  text-decoration: double;
  display: flex;
  height: 50px;
  justify-content: center;
}
