body {
  background-color: var(--darkGreen);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --grey: #c7c7c7;
  --darkGrey: #858282;
  --paper: #fafafa;
  --purple: #8618bd;
  --lightPurple: #a841fd;
  --darkPurple: #190314;
  --pink: #ed55fd;
  --superPink: #fa0087;
  --red: #c61a09;
  --lightRed: #ff4122;
  --orange: #ff9e00;
  --lightPink: #fcf0f9;
  --ripeLemon: #f5c518;
  --darkYellow: #c19a0d;
  --darkGreen: #054347;
  --lightGreen: #16d2de;
  --secondary: #61dafb;
  --white: #fff;
  --black: #000000;

  --zIndexHeader: 100;
}
